body {
    font-family: Arial, sans-serif;
    background-color: rgb(76, 86, 100);
    color: white;
}

a {
    text-decoration: none;
    color: inherit;
}

button {
    background-color: rgb(240, 228, 145);
    border: none;
    border-radius: 5px;
}

header {
    position: sticky;
    top: 0;
    z-index: 999;
}

.nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: rgb(34, 75, 55);
    border-radius: 8px;
}

#titulo {
    margin-right: auto;
    margin-left: 5px;
}

.nav-item {
    margin: 10px;
}

.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(101, 140, 88);
    border-radius: 8px;
    margin-top: 10px;
    height: 300px;
    text-align: center;
}

.hero button {
    font-size: 20px;
    height: 50px;
}

.mission {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    margin-top: 10px;
    height: 300px;
    text-align: center;
}

.mission button {
    font-size: 20px;
    height: 40px;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: red;
    color: white;
    text-align: center;
}

.copy div {
    text-align: center;
    background-color: rgb(34, 75, 55);
    border-radius: 8px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 600px) {
    .nav {
        flex-direction: column;
    }

    #titulo {
        margin: 0;
    }

    .nav-item {
        margin: 5px;
    }
}